//- variables
- var mainTitle = "Sona"
- var pageTitle = mainTitle + " Agency"

- var pageOne = "About"
- var pageOneLink ="about.html"

- var pageTwo = "Podcasts"
- var pageTwoLink = "podcasts.html"

- var pageThree = "Advertisers"
- var pageThreeLink = "advertisers.html"

- var pageFour = "Contact"
- var pageFourLink = "contact.html"


- var logo = "images/logo.svg"

//- html
doctype html
html
	head
		title= pageTitle
		//build:css css/styles.min.css
		link(href='css/styles.css', rel='stylesheet')
		// endbuild 
	body
		.content
			.pad
			.image
				img(src=logo) 
			.text
				h1 Whisper in their ear.
				.rule
				p Sona Agency handcrafts podcast marketing campaigns, creating the most intimate user connection. 
			.link
				a(href="index.html") Learn More
		.nav
			.links
				a(href=pageOneLink)= pageOne
				a(href=pageTwoLink)= pageTwo
				a(href=pageThreeLink)= pageThree
				a(href=pageFourLink)= pageFour
		//build:js js/main.min.js
		//script(src='js/main.js')
		//script(src='js/plugin.js')
		//script(src='js/vendor/modernizer-2.8.min.js')
		// endbuild 
