//- variables
- var pageTitle = "Sona"
- var pageOne = "About"
- var pageTwo = "Podcasts"
- var pageThree = "Advertisers"
- var pageFour = "Contact"
- var logo = "images/logo.svg"

//- html
doctype html
html
	head
		title= pageTitle
		//build:css css/styles.min.css
		link(href='css/styles.css', rel='stylesheet')
		// endbuild 
	body
		.content
			.pad
			.image
				img(src=logo) 
			.text
				h1 Whisper in their ear.
				.rule
				p Sona Agency hand-crafts podcast marketing campaigns, creating the most intimate user connection. 
			.link
				a(href="index.html") Learn More
		.nav
			.links
				a(href="index.html")= pageOne
				a(href="index.html")= pageTwo
				a(href="index.html")= pageThree
				a(href="index.html")= pageFour
		//build:js js/main.min.js
		//script(src='js/main.js')
		//script(src='js/plugin.js')
		//script(src='js/vendor/modernizer-2.8.min.js')
		// endbuild 
